@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --prime-color:#6A54FF;
    --second-color:#030718;
    --action-color:#57E1FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{   
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFFFF;
}
.navbar{
    max-width: 1440px;
    background-color: #030718;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
width: 131.83px;
height: 64px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.menu-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color .3s ease-in-out;
}
.menu-nav:hover{
    color: var(--prime-color);
}
.navbar-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.btn{
    padding: 11px 24px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.exit-btn{
    background: rgba(87, 225, 255, 0.2);
    border: 1.5px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    color: var(--action-color);
    transition: box-shadow 0.3s ease-in-out;
}
.exit-btn:hover, .registretion-btn:hover, #hero-email-btn:hover{
    box-shadow: 0px 0px 12px var(--action-color);
}
.registretion-btn{
    background: var(--action-color);
    border: 1px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    border-radius: 3px;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
}


.hero{
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--second-color);
    padding: 160px 80px 194px 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 40% 95%, 0 95% );
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 630px;
    height: 268px;
    flex: none;
    align-self: stretch;
}
.hero-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on;
}
.hero-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.8;
}
#hero-email{
    padding-left: 16px;
    width: 390px;
    height: 60px;
    background: #201A4F;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    opacity: 0.34;
}
#hero-email-btn{
    padding: 16px 24px;
    background: var(--action-color);
    border: 1px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    color: #030718;
}
.hero-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.3;
}