@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --prime-color:#6A54FF;
    --second-color:#030718;
    --action-color:#57E1FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{   
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFFFF;
}
.navbar{
    max-width: 1440px;
    background-color: #030718;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1px;
}

.logo{
    width: 131.83px;
    height: 64px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.menu-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color .3s ease-in-out;
}
.menu-nav:hover{
    color: var(--prime-color);
}
.navbar-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.btn{
    padding: 11px 24px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.exit-btn{
    background: rgba(87, 225, 255, 0.2);
    border: 1.5px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    color: var(--action-color);
    transition: box-shadow 0.3s ease-in-out;
}
.exit-btn:hover, .registretion-btn:hover, #hero-email-btn:hover, .start:hover, .month:hover, .futures:hover, .tariffs-spot:hover{
    box-shadow: 0px 0px 12px var(--action-color);
}
.registretion-btn{
    background: var(--action-color);
    border: 1px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    border-radius: 3px;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
}


.hero{
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--second-color);
    padding: 160px 80px 194px 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 40% 95%, 0 95% );
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 630px;
    height: 268px;
    flex: none;
    align-self: stretch;
}
.hero-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on;
}
.hero-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.8;
}
#hero-email{
    padding-left: 16px;
    width: 390px;
    height: 60px;
    background: #201A4F;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    opacity: 0.34;
}
#hero-email-btn{
    padding: 16px 24px;
    background: var(--action-color);
    border: 1px solid var(--action-color);
    box-shadow: 0px 0px 4px var(--action-color);
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    color: var(--second-color);
}
.hero-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.3;
}
#numbers {
    max-width: 1440px;
    margin: 0 auto;
    padding: 65px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--second-color);
}
.number-section {
    display: flex;
    flex-direction: column;
}
.section-numeric {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on, 'zero' on;
    color: var(--prime-color);
}
.section-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    opacity: 0.8;
}
.black{
    color: var(--second-color);
}

#trades {
    background-color: var(--second-color);
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 80px 180px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 40% 95%, 0 95% );
}
.trades-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on;
}
.trades-line{
    position: relative;
    padding-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    font-feature-settings: 'ss04' on, 'case' on, 'zero' on;
    color: #35FF9E;
    opacity: 0.9;
}
.trades-line::after {
    content: '';
    width: 7px;
    height: 7px;
    background: #35FF9E;
    opacity: 0.9;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.trades-cards {
    margin-top: 70px;
    display: flex;
    gap: 24px;
    overflow-x: auto;
    padding-bottom: 25px;
    scrollbar-width: thin;
    scrollbar-color: var(--prime-color) var(--second-color);
}
.trades-cards::-webkit-scrollbar {
    height: 6px;
}
.trades-cards::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}
.trades-cards::-webkit-scrollbar-thumb {
    background: #576bfd;
    border-radius: 10px;
}
.trades-card {
    width: 299px;
    height: 208px;
    padding: 16px;
    clip-path: polygon(0 0, 85% 0, 100% 25%, 100% 100%, 0 100%);
    background-color: var(--prime-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: space-between;
    gap: 56px;
}
.card-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: space-between;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.spot {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 0.4;
}
.trades-number {
}
.number-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    opacity: 0.7;
}
.number-value {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on, 'zero' on;
    color: #35FF9E;
}
.card-img {
    width: 160px;
    height: 100%;
    background-image: url(/img/Group\ 38.png);
    background-size: cover;
    background-position-x: left;
}
.card-target {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.target {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 0.7;
}
.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

#about {
    max-width: 1440px;
    margin: 0 auto;
    padding:60px 80px 90px ;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.about-text {
    max-width: 415px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-text-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on;
}
.about-text-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.8;
}
.cta {
    width: 630px;
    height: 236px;
    border-radius: 4px;
    padding: 32px 64px;
    background-color: var(--prime-color);
}
.cta-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
}
#form-about{
    margin-top: 32px;
    display: flex;
}
#tariffs{
    background-color: var(--second-color);
    padding: 96px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tariffs-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on, 'case' on;
}
.block-btns{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.tariffs-btn{
    width: 201px;
    height: 44px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--second-color);
}
.tariffs-spot{
    background-color: var(--action-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.futures{
    background-color: var(--prime-color);
    color: var(--action-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.block-cards{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding-left: 24px;
}
.list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    padding: 0;
}
.card-standart, .card-vip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 413px;
    height: 556px;
    border-radius: 8px;
    padding: 24px 0;
}
li {
    position: relative;
    padding: 8px 24px 8px 46px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    list-style: none;
}

li::before {
    content: "";
    position: absolute;
    left: 24px;      
    top: 12px;
    width: 12px;      
    height: 12px;
    background-image: url(/img/Frame\ 21065.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.card-standart{
    border: 1px solid var(--prime-color);
}
.price{
    width: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.04em;
}
.price-number span {
    position: relative;
    top: -10px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #35FF9E;
}
.month{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 5px 6px 8px;
    gap: 8px;
    width: 128px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
.month-amount{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    font-feature-settings: 'ss04' on;
}
.start{
    width: 88%;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background: #57E1FF;
    box-shadow: 0px 0px 4px #57E1FF;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    color: var(--second-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.start span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'ss04' on;
    color: var(--second-color);
    opacity: 0.56;
    text-transform: none;
}
.card-vip{
    background-color: var(--prime-color);
}


#faq{
    color: var(--second-color);
    max-width: 850px;
    margin: 0 auto;
    padding: 96px 0;
}
#faq h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.faq-item {
    margin-top: 12px;
    padding: 16px ;
    background-color: #EAEFF0;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
.faq-item:hover{
    background-color:#b2b2b2 ;
}
.faq-item.active {
    background-color: var(--prime-color);
    color: #FFFFFF; 
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss04' on;
    opacity: 0.8;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
}
.faq-arrow {
    width: 16px;
    transition: transform 0.3s ease;
}
.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    padding-right: 30px;
}
.faq-item.active .faq-answer {
    max-height: 200px; 
    opacity: 1;
    margin-top: 10px;
}


.footer{
    height: 250px;
    background-color: var(--second-color);
    padding: 28px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.block-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.block-nav-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-feature-settings: 'ss04' on;
    opacity: 0.4;
}
.block-nav .navbar-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 0.67;
}
.block-logo img{
    max-width: 165px;
}
.block-logo{
    width: 40%;
    height: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.logo-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}
.burger, .close {
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 740px) and (min-width: 370px){
    .navbar{
    /* max-width: 370px; */
    padding: 0 16px;
}
    .navbar-menu{
        display: none;
    }
    .navbar-btns{
        display: none;
    }
    .burger{
        display: block;
        cursor: pointer;
    }

    .hero{
    /* max-width: 370px; */
    padding: 0 16px;
    flex-direction: column-reverse;

    gap: 0;
    }
    .hero-content{
        height: 360px;
}
    .hero-img img{
        /* max-width:300px ; */
    }
    .hero-title{
        max-width: 370px;
        font-size: 35px;
        line-height: 44px;
    }
    .hero-subtitle{
        /* max-width: 350px; */
        font-size: 16px;
        line-height: 20px;
    }
    #hero-email{
        width: 240px;
        height: 50px;
    }
    #hero-email-btn{
    width: 102px;
    border: 1px solid #57E1FF;
    box-shadow: 0px 0px 4px #57E1FF;
    border-radius: 3px;
    }
    #numbers {
    max-width: 370px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 24px 16px;
    }
    .number-section{
        margin-top: 40px;
        max-width: 150px;
    }
    .section-numeric{
        font-size: 35px;
        line-height: 110%;
        letter-spacing: -0.02em;
    }
    .black{
        font-size: 28px;
        line-height: 36px;
    }
    .section-title{
        font-size: 14px;
        line-height: 20px;
    }
    #trades {
        background-color: var(--second-color);
        max-width: 370px;
        padding: 48px 16px;
    }
    .trades-title{
        font-size: 28px;
        line-height: 36px;
    }
    #about {
        max-width: 370px;
        padding:24px 16px ;
        flex-direction: column;
        gap: 40px;
    }
    .about-text-title{
        font-size: 28px;
        line-height: 36px;
    }
    .about-text-text{
        font-size: 16px;
        line-height: 20px;
    }
    .cta {
        width: 356px;
        height: 218px;
        padding: 16px;
    }
    .cta-text{
        font-size: 20px;
        line-height: 28px;
    }
    #tariffs{
        padding:40px 16px ;
    }
    .block-cards{
        flex-direction: column;
    }
    .tariffs-title{
        font-size: 28px;
        line-height: 36px;
    }
    .card-title{
        font-size: 20px;
        line-height: 28px;
    }
    .list-text{
        font-size: 16px;
        line-height: 20px;
    }
    .tariffs-btn{
        width: 167px;
        height: 44px;
        font-size: 18px;
        line-height: 24px;
    }
    .card-standart, .card-vip{
        width: 346px;
        height: 440px;
        padding: 8px;
    }
    .card-title{
        padding-left: 8px;
        font-size: 20px;
        line-height: 28px;
    }
    .list-text{
        font-size: 16px;
        line-height: 20px;
    }
    li {
        padding: 8px 8px 8px 32px;
    }
    li::before {
        left: 8px;
    }
    .price{
        font-size: 35px;
        line-height: 40px;
    }
    .price-number span {
        font-size: 18px;
        line-height: 20px;
    }
    .start{
        padding: 16px 24px;
        height: 52px;
    }
    #faq h2{
        font-size: 28px;
        line-height: 36px;
    }
    .faq-question{
        font-size: 20px;
        line-height: 28px;
    }
    .footer{
        height: 100%;
        flex-direction: column;
        padding: 16px;
    }
    .block-nav{
        flex-direction: row;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .block-nav .navbar-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .block-logo{
        width: 40%;
        height: 100%;
        align-self: flex-start;
    }
    .logo-text{
        margin-top: 40px;
    }
.navbar.open{
    display: flex;
    flex-direction: column-reverse;
}


    .navbar.open .navbar-menu{
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        position: absolute;
        top: 0;
        right: 65px;
        padding: 40px;
        background: var(--prime-color);
        width: 74%;
        z-index: 10;

    }
    .navbar.open .navbar-btns {
        display: flex;
        flex-direction: row-reverse;
        gap: 24px;
        position: absolute;
        top: 0;
        right: 65px;
        padding: 40px;
        background: var(--prime-color);
        width: 74%;
        z-index: 10;
    }

    .navbar.open .close {
        display: block;
        position: absolute;
        top: 0px;
        right: 70px;
        z-index: 20;
    }

    .navbar.open .burger {
        display: none;
    }
}